<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CIExample.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>172F66FA246F5A6500BAFB3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>172F6710246F5A6B00BAFB3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>172F671B246F5A6B00BAFB3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
